<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employe Views</title>
<!--Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

</head>
<body style="background-color: black">
	<center><form action="/search" method="get">
		<input type="text" name="name" placeholder="Enter name">
		<button type="submit">Search</button>
	</form></center>
	<br>
	<center><form action="/searched" method="get">
		<input type="text" name="department" placeholder="Enter Department">
		<button type="submit">Search</button>
	</form></center>
		<div class="container">
			<table class="table border" style="background-color: black">
				<thead style="color: yellow">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Mobile</th>
						<th scope="col">Age</th>
						<th scope="col">Role</th>
						<th scope="col">Date</th>
						<th scope="col">City</th>
						<th scope="col">Password</th>
						<th scope="col">Address</th>
						<th scope="col">Department</th>
						<th scope="col">Image</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody style="color: aqua">
					<tr th:each="list : ${department}">
						<td th:text="${list.id}"></td>
						<td th:text="${list.name}"></td>
						<td th:text="${list.email}"></td>
						<td th:text="${list.mobile}"></td>
						<td th:text="${list.age}"></td>
						<td th:text="${list.role}"></td>
						<td th:text="${list.date}"></td>
						<td th:text="${list.city}"></td>
						<td th:text="${list.password}"></td>
						<td th:text="${list.address}"></td>
						<td th:text="${list.department}"></td>


						<td><img height="100px" width="100px"
							th:src="@{${'/displayimage?id=' + list.id}}" alt=""></td>
						<td><a class="btn btn-danger btn-sm"
							th:href="@{/deleteEMPid/{id}(id=${list.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>